<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <form method="get" action="/">
            <button  type="submit" > Readers </button>
        </form>
    </div>
    <div class="container">
        <form method="get" action="/cards">
            <button type="submit" >Cards</button>
        </form>
    </div>  
  </nav>

